/* LOGO BLUE*/

header{
    background-color: #007bff;
    height: 5vh;
    width: 100%;
}

#logoBlue{
    font-family: 'Viga', sans-serif;
    color: white;
}
#menufixo{
    background-color: #007bffa9;
    padding: 0.9px;
}
.container{
    background-color: transparent;
    padding: 0px 0px 0px 0px;
}

.navbar{
    padding: 0px;
}

/* Cor do Link */
.navbar-light 
.navbar-nav 
.nav-link {
    color: #fff;
}

.navbar-light 
.navbar-nav 
.nav-link:hover{
    border-bottom: 0.5px solid #007bff;
    color: #bdbdbd;
}

/* BUTTOM */
element.style {
    background-color:transparent;
}

.navbar-light 
.navbar-toggler{
    color: white;
    border-color: transparent;
}

button:focus {
    outline: 0px auto -webkit-focus-ring-color;
}

/* Section */

.slider-principal img{
    height: 100vh;
    width: 100vw;
}

button.slick-prev{
    font-size: 0px;
    border: none;
    width: 40px;
    height: 40px;
    background-color: transparent;
    background-image: url(/img/background/Arrow\ right.png);
    position: absolute;
    z-index: 9;
    top: 36%;
    left: 10%;
}

button.slick-next{
    font-size: 0px;
    border: none;
    width: 40px;
    height: 40px;
    background-color: transparent;
    background-image: url(/img/background/Arrow\ right.png);
    position: absolute;
    z-index: 9;
    top: 36%;
    right: 10%;
}

/* Tirando a barra de rolagem */

.slick-list{
    width: 100%;
}
.slick-initialized{
    overflow: hidden;
}

/* Botões de passagem do slide*/

/* Numero que aparece no botão */
button,
textarea{
  font-size : 0;
}

.slick-dots{
    margin: 0 auto;
    width: 50%;
    position: absolute;
    top: 90%;
    left: 45%;

}

.slick-dots li{
    display: inline-block;
    list-style: none;
    color: transparent;
    padding: 5px;
}

.slick-dots li button{
    font: none;
    border: 5px solid white;
    width: 26px;
    height: 26px;
    background: transparent;
    border-radius: 50%;
    cursor: pointer;
    
}

li.slick-active button{
    background-color: #007bff;
}


@media(max-width : 1000px) {

    #navbarNav ul{
        height: 93.7vh;
    }

}
